/********************HOME********************/


/********************FABRIC********************/
.fabric-pic {
    width: 100%;
}

.fabric-box {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    width: 15%;
}



/********************RANDOM********************/
.random-box {
    border: 1px solid black;
}



/********************NEEDLES********************/
.needle-box {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
}

.needles {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    flex-wrap: wrap;
}
