.fabric-pic {
    width: 20%;
}

.random-box {
    border: 1px solid black;
}

.needle-box {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
}

.needles {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    flex-wrap: wrap;
}
