/********************HOME********************/


/********************FABRIC********************/
.fabric-pic {
    width: 100%;
}

.fabric-box {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    width: 16%;
}


.fabric-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/********************RANDOM********************/
.random-page {


}

.search-box {
    border: 1px solid black;
    display: inline-block;
}

.random-box {
    text-align: center;
}

table.table {
    width: 65%;
    margin: auto;
}

.random-table p {
    margin: 4px;

}

.random-name {
    font-weight: bold;
    text-align: center;
}

.random-details {
    padding: 0px 6px;
    text-align: center;
}

.boxpicture {
    margin: 5px;
    padding: 8px;
}

/********************NEEDLES********************/
.needle-box {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    width: 20%;
}

.needle-box table, p {
    margin-left: 8px;
}
.needles {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    flex-wrap: wrap;
}
