/********************GLOBAL********************/
@font-face {
    font-family: 'sketch_matchregular';
    src: url('./assets/sketch_match-webfont.woff2') format('woff2'),
    url('./assets/sketch_match-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    background-color: #fbfbff;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
}

span {
    font-family: serif;
}

nav.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #72b01d;
}

.nav-bar div {
    background-color: #72b01d;
    margin-bottom: 0px;
    padding: 10px;
}

.nav-bar img {
    width: 300px;
}

.nav-bar a {
    color: #fbfbff;
    font-size: 24px;
}

.nav-bar a:hover {
    text-decoration: none;
}

.results {
    margin-left: 10px;
}

.add-form input, .dropdown {
    margin-left: 8px;
}

.filtered-result div {
    margin: 3px 10px;
}

.filtered-name {
    font-size: 30px;
}

.filtered-info {
    grid-column-start: 5;
}

.filtered-box {
    border: 1px solid black;
    padding: 6px;
    font-size: 30px;
    grid-column-start: 6;
}


.add-button {
    margin: 0px 10px;
}

.add-random {
    font-size: 26px;
}

.dropdown {
    margin-left: 10px;
}

.add-form label {
    margin: 15px;
    font-size: 22px;
}
/********************HOME********************/

.sitename-container img{
    width: 80%;
}

.sitename-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/********************FABRIC********************/
.fabric-pic {
    width: 99%;
    border: 6px solid white;
}

.fabric-box {
    border: 1px solid black;
    margin: 3px;
    width: 200px;
    height: 50%;
}

.fabric-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 5px;
}

.fabric-length {
    margin: 0px 5px;
}

.fabric-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.fabric-tags {
    text-transform: uppercase;
    font-size: 14px;
    background-color: #f1f1f1;
    padding: 3px;
}

.fabric-buttons {
    display: flex;
    justify-content: flex-end;
}

.fabric-buttons p{
    margin: 3px;
}

.fabric-picture {
    width: 85%;
}

.fabric-filter {
    margin: 5px;
    padding: 5px;
}

#main_color {
    grid-column-start: 3;
}

.fabric-filter label {
    margin: 0px;
}

.fabric-filter-form {
    display: grid;
    grid-template-columns: 180px 20% 200px 60px 1fr 180px;
    grid-gap: 7px;
    margin: 10px 20px;
    place-items: center center;
}

.fabric-edit {
    text-align: left;
    margin: 40px;
    padding: 10px;
}

.fabric-edit-image {
    width: 100%;
    height: 30%;
}

.add-fabric {
    grid-column-start: 6;
}

.clear-fabric {
    grid-column-start: 4;
}

@media (max-width: 940px) {
    .fabric-filter-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .fabric-filter-form input {
        width: 40%;
        margin: 5px;
    }

    .clear-fabric {
        margin: 10px;
    }

}

/********************RANDOM********************/
.random-add {
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.filter-input {
    grid-column-start: 2;
    width: 100%;
}

.search-box label {
    margin-left: 5px;
    grid-column-start: 1;
}

.clear-random {
    grid-column-start: 3;
    height: 30%;
    margin-left: 5px;
}

.add-random {
    grid-column-start: 4;
    margin: 0px;
    font-size: 20px;
}

.search-box {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 12% 18% 8% 4% 1fr 12%;
    grid-gap: 7px;
    height: 130px;
    place-items: center;
    margin:10px auto;
    text-align: center;
}

@media (max-width: 970px) {

    .filtered-name {
        font-size: 24px;
    }

    .filtered-details {
        font-size: 16px;
    }

    .filtered-box {
        font-size: 20px;
        padding: 2px;
    }

    .clear-random, .search-box label, .search-box input {
        font-size: 14px;
    }

    .random-buttons p.btn {
        font-size: 14px;
        padding: 0px;
    }

    .random-name, .random-details {
        font-size: 16px;
    }

    .random-box h4 {
        font-size: 20px;
    }
}

.random-box {
    text-align: center;
}

table.table {
    width: 60%;
    margin: auto;
}


.random-table p {
    margin: 4px;
}

.random-name {
    font-weight: bold;
    text-align: left;
    width: 35%;
}

.random-details {
    width: 33%;
    text-align: center;
}

.random-buttons {
    text-align: right;
}

.boxpicture {
    margin: 5px;
    padding: 8px;
    width: 20%;
}

#box_number {

}

/********************NEEDLES********************/
.needle-box {

    box-shadow: 3px 3px rgb(211,211,211,.6);
    background-color: white;
    outline-offset: -10px;
    margin: 5px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.needle-box table, p {
    margin: auto;
}

@media (max-width: 970px) {


}

.needle-box td, h1 {
    background-color: white;
}

.needles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-label input:checked ~ .checkmark {
    background-image: url('./assets/favicon-32x32.png');
    background-repeat: no-repeat;
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {



}
