/********************GLOBAL********************/
@font-face {
    font-family: 'sketch_matchregular';
    src: url('./assets/sketch_match-webfont.woff2') format('woff2'),
    url('./assets/sketch_match-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    background-color: #fbfbff;
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
}

/********************NAVBAR********************/
.nav-bar, .navbar-brand{
    background-color: #72b01d;
}

.nav-bar div {
    background-color: #72b01d;
    margin-bottom: 0px;
    margin-right: 70px;
    padding: 5px;
}

.nav-bar img {
    width: 300px;
}

.nav-bar a {
    color: #fbfbff;
    font-size: 24px;
    text-shadow: 1px 1px rgb(0,0,0,.4);
}

.nav-bar a:hover {
    text-decoration: none;
    color: #499ddb;
}

.navbar-brand img {
    background-color: transparent;
}

@media (max-width: 576px) {
    .nav-bar div {
        margin-right: 30px;
    }
}

/********************HOME********************/

.sitename-container img{
    width: 80%;
}

.sitename-container {
    text-align: center;
    margin-top: 30px;
}

/********************MODALS********************/
span {
    font-family: serif;
}

input.btn.submit-button, button.btn.btn-primary {
    border: 1px solid black;
    background-color: white;
    color: black;
    margin: 8px;
}

input.btn.submit-button:hover, button.btn.btn-primary:hover {
    background-color: #499ddb;
}

.add-form input {
    margin-left: 8px;
}

.add-form label {
    margin: 15px;
    font-size: 22px;
}

/********************FABRIC********************/

/* Fabric Page */
.fabric-filter {
    margin: 5px;
    padding: 5px;
}

.fabric-filter label {
    margin: 0px;
}

.fabric-filter-form {
    display: grid;
    grid-template-columns: 80px 13% 200px 150px 1fr 180px;
    grid-gap: 7px;
    margin: 10px 20px;
    place-items: center center;
}

#tag_filter {
    grid-column-start: 2;
}

.clear-fabric {
    grid-column-start: 4;
}

.add-fabric {
    grid-column-start: 6;
}

.fabric-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

@media (max-width: 1300px) {
    .fabric-filter-form {
        grid-template-columns: 80px 20% 200px 150px 1fr 180px;
    }
}
@media (max-width: 940px) {
    .fabric-filter-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .fabric-filter-form input {
        width: 40%;
        margin: 5px;
    }

    .clear-fabric {
        margin: 10px;
    }

    #tag_filter {
        margin: 8px 0px;
    }
}

/* Fabric Edit */
.fabric-edit {
    text-align: left;
    margin: 40px;
    padding: 10px;
}

@media (max-width: 576px) {
    .fabric-edit label {
        margin: auto;
    }
}

.fabric-edit-image {
    width: 100%;
    height: 30%;
}

.fabric-picture {
    width: 85%;
}

/* Fabrics */
.fabric-box {
    border: 1px solid black;
    margin: 3px;
    width: 200px;
    height: 50%;
}

.fabric-pic {
    width: 99%;
    border: 6px solid white;
}

.show-fabric {
    width: 100%;
}

.fabric-length {
    margin: 0px 5px;
}

.fabric-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 5px;
}

.fabric-tags {
    text-transform: uppercase;
    font-size: 14px;
    background-color: #f1f1f1;
    padding: 3px;
    cursor: pointer;
}

.fabric-buttons {
    display: flex;
    justify-content: flex-end;
    cursor:pointer;
}

.fabric-buttons p{
    margin: 3px;
}

/********************RANDOM********************/
/* Random Page */
/* .search-box {
    border: 1px solid black;
    width: 93%;
    height: 130px;
    place-items: center;
    margin:10px auto;
    text-align: center;
}
*/

.function-box {
    width: 78%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.function-box label {
    margin-right: 5px;
}

#filter {
    width: 30%;
    margin-right: 10px;
}

#clear-random, #add-random {
    margin: 5px;
}


.random-add {
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    display: flex;
}

.random-page  {
    text-align: center;
    margin-top: 30px;
}

#add-random {
    font-size: 26px;
}

.boxpicture {
    margin: 5px;
    padding: 8px;
    width: 20%;
}

table.table {
    width: 79%;
    margin: auto;
}

.random-table div.btn {
    margin: 4px;
}

/* Randoms */
.random-name {
    font-weight: bold;
    text-align: left;
    width: 35%;
}

.random-details {
    width: 33%;
    text-align: center;
}

.random-buttons {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

}

.random-buttons div {
    margin: 0px 4px;
    border: 1px solid black;
    padding: 2px;
    font-size: 14px;
}


@media (max-width: 970px) {

    .random-buttons div {
        font-size: 12px;
    }

    .random-name, .random-details {
        font-size: 16px;
    }

    .random-box h4 {
        font-size: 20px;
    }

    #clear-random, #add-random {
        font-size: 14px;
        padding: 3px;
    }
}

@media (max-width: 576px) {
    #clear-random {
        font-size: 12px;
    }

    .filtered-name {
        font-size: 20px;
    }

    .filtered-details {
        font-size: 12px;
    }

    .filtered-box {
        font-size: 14px;
        margin-right: 2px;
    }
}
/********************NEEDLES********************/
/* Needle Page */
.needles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Needles */
.needle-box {
    box-shadow: 3px 3px rgb(211,211,211,.6);
    background-color: white;
    outline-offset: -10px;
    margin: 5px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.needle-box table, p {
    margin: auto;
}

.needle-box td, h1 {
    background-color: white;
}

/* Needle Edit */
.checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

/*Hide old checkbox*/
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #eee;
    margin-left: -5px;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-label input:checked ~ .checkmark {
    background-image: url('./assets/favicon-32x32.png');
    background-repeat: no-repeat;
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

.needle-buttons {
    display: flex;
    justify-content: center;
}


/********************ZIPPER********************/

.zipper-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0px 20px;
}

.zipper-size {
    width: 17%;
    padding: 5px 20px;
    margin: 10px;
}

.new-zipper {
    width: 70%;
    margin-right: 3px;
}

.add-zipper {
    padding: 3px;
}

.delete {
    margin-right: 2px;
    cursor: default;
}

@media (max-width: 1030px) {
    .new-zipper {
        font-size: 16px;
        width: 80%;
    }

    .zipper-container h3 {
        font-size: 24px;
    }

    .zipper-container p {
        font-size: 16px;
    }

    .zipper-size {
        width: 20%;
    }

    .add-zipper {
        margin: 5px 0px;
        font-size: 16px;
    }
}
@media (max-width: 675px) {
    .zipper-container h3{
        font-size: 22px;
    }

    .zipper-container p{
        font-size: 14px;
    }

    .zipper-size {
        width: 25%;
    }

    .new-zipper {
        width: 200%;
        font-size: 16px;
    }


}
